@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@500;600&family=Bebas+Neue&family=Big+Shoulders+Display:wght@700&family=Fraunces:wght@700&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700&family=Josefin+Sans&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Mulish&family=Open+Sans:wght@400;500;700&family=Outfit:wght@400;700&family=Play:wght@400;700&family=Poppins:wght@300;400;600;700&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@400;700&family=Rubik:wght@400;500;700&family=Signika:wght@700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

input.check {
  appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.side {
  width: 25%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 8px;
}
